<body>
  <template>
    <header>
      <div class="header">
        <div class="headerLeft">
          <span class="material-symbols-rounded pointer" onclick="voltar()">
            arrow_back_ios
          </span>
          <h2 class="titleScreen" id="titleScreen">Valor</h2>
        </div>

        <div class="headerRight">
          <span class="material-symbols-rounded"> format_line_spacing </span>
          <span class="material-symbols-rounded"> search </span>
          <span class="material-symbols-rounded"> select_check_box </span>
        </div>
      </div>
    </header>
  </template>
</body>
