.categoryCard {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    height: 120px;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.459);
    transition: transform 0.2s;
    background-image: url("https://images.pexels.com/photos/3490348/pexels-photo-3490348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 80%;
    font-size: 28px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* height: 40vh; */
}