/* Details screen */
.exerciseDetail {
    background-color: #f1ff70;
    box-shadow: 0 4px 4px #00000029;
    border-radius: 0 0 10px 10px;
    width: 100%;
    z-index: 9;
    transform: translateZ(0);
    position: fixed;
    top: 60px;
    padding-top: 10px;
}

#exercicio-detalhes-container{
    margin-top: 100px;
}

.contentDetails {
    flex: 1;
    /* margin-top: 180px; */
    padding-bottom: 200px;

}




.swapExerciseIconRight {
    rotate: 180deg;
}


.swapExercise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.exerciseTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.swapExerciseDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: violet; */
    padding-left: 7%;
    padding-right: 7%;
    flex-direction: column;
    /* background-color: blanchedalmond; */
}

.progressExerciseDetail {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    /* background-color: aqua; */
    align-items: center;
}

.progressBarExerciseDetail {
    width: 100%;
    height: 12px;
    border-radius: 10px;
    background-color: #E3E3E3;
    position: relative;
    overflow: hidden;
}

.progressBarExerciseDetail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #23D200;
  border-radius: inherit;
  pointer-events: none;
  width: var(--progress, 0%);
  animation: fillProgress 2s ease-in-out forwards;
}


/* anima do 0 até o valor final */
@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: var(--progress, 0%);
  }
}

.progressExerciseNumber {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    /* background-color: violet; */
    width: 10%;
}

.detalisTitleInput {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 20px;
    /* display: block; */
    /* margin-left: 5%; */
    /* background-color: aqua; */
}

.detalisTitleInputRecomendation {
    /* font-size: 18px; */
    /* font-weight: 600; */
    /* margin-bottom: 8px; */
    /* margin-top: 20px; */
    /* display: block; */
    /* margin-left: 0%; */
    /* background-color: aqua; */
    font-size: 16px;
}

.recomendation {
    display: flex;
    flex-direction: column;
}

.inputData {
    display: flex;
    flex-direction: column;
}

.contentDetails {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 3%;
}

.inputDetails {
    width: 95%;
    height: 40px;
    border-radius: 8px;
    border: solid #747474 1px;
    background-color: #ffffff;
    padding-left: 15px;
    font-size: 16px;
}

.selectDetails {
    /* padding-right: 10px; */
    width: 98.5%;
    height: 43.5px;
    /* background-color: tomato; */
}




/* select,
::picker(select) {
    appearance: base-select;
    
} */

/* select::picker-icon {
    color: #000000;
    position: relative;
    left: -2%;
    top: -2%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.9s rotate ease-in-out;

}

select:open::picker-icon {
    rotate: 180deg;

} */


.shortInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;

}

.shortInputData {
    width: 45%;
}

.table-container {
    overflow-x: auto;
    /* permite rolar horizontalmente */
    -webkit-overflow-scrolling: touch;
    /* rolagem suave em mobile */
    border-radius: 10px;
    border: 1px #B9B9B9 solid;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
    /* border-radius: 10px;        ← adicionado */
    overflow: hidden;
    /* ← mantém o arredondamento visível */
}


th,
td {
    border: 1px solid #B9B9B9;
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
    /* evita quebrar o texto */
}

th {
    background-color: #B9B9B9;
    font-weight: 700;
    /* border-left: 1px solid #ff0000; */
    border-right: 1px solid #fff;
    text-align: left;
}

td {
    border: #B9B9B9 1px solid;

}




.commentsHistoryContainer {
    margin-top: 20px;
}

.commentsHistory {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.commentDate {
    font-weight: 600;
    margin-bottom: 4px;
}

.seeMoreComments {
    color: black;
    font-weight: 700;
    cursor: pointer;
    text-align: right;
    background-color: transparent;
    border: none;
    width: 100%;
}